body {
  background: rgb(218, 165, 32);
  background: linear-gradient(
    90deg,
    rgba(218, 165, 32, 1) 12%,
    rgba(64, 161, 78, 1) 33%,
    rgba(64, 189, 222, 1) 66%,
    rgba(153, 124, 165, 1) 79%,
    rgba(255, 0, 57, 1) 93%
  );
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  font-style: italic;
}

.item {
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #6e7d9b;
  color: bisque;
  font-size: 20px;
}

.item_1 {
  text-align: center;
  background-color: #e3a061;
  color: rgb(9, 11, 3);
  grid-column-start: 1;
  grid-column-end: 3;
}
