* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-family: "Abhaya Libre", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #34526da3;
  background-image: url(/image/background3.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  padding: 2rem 9%;
}
.contacts .heading {
  text-align: center;
  margin-bottom: 2rem;
  color: #e3e3e3;
  font-size: (25px + (70 - 25) * ((100vw - 300px)/ (1600 - 300)));
}

.contacts .heading span {
  color: #e1dddb;
}

.contacts .row {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.contacts .row form {
  flex: 1 1 40rem;
  background-image: url(/image/list5.jpg);
  background-repeat: repeat;
  padding: 2rem;
  border-radius: 0.5rem;
}

.contacts .row form .box {
  width: 100%;
  margin: 1rem 0rem 2rem;
  border-radius: 0.5rem;
  padding: 0.8rem;
  background: #f3f3f3;
}
.contacts .row form .box.text-box {
  height: 10rem;
}

.contacts .row form span {
  color: rgb(12, 12, 11);
  font-size: (12px + (16 - 12) * ((100vw - 300px)/ (1600 - 300)));
}

.btn {
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1ren rgb(8, 8, 8);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #e3a061;
  color: rgb(0, 0, 0);
}
